

/* Cor principal do menu */
.cor-menu{
    background:
        linear-gradient(
            rgba(112, 57, 12, 0.78),
            rgba(104, 57, 18, 0.78)
        ),

        url("navbar/imgnavbar.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;
}

/* Nome do site */
.navbar-brand{

    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: white !important;

}

.navbar {
    
    min-height: 110px;
    padding: 250px 0;

}

/* Logo */
.navbar-brand img{

    width:90px;

    height:90px;

    object-fit:cover;

    border:3px solid rgba(255,255,255,.3);

    transition:.4s;


}

.navbar-brand img:hover{

    transform:rotate(8deg);

}

/* Links do menu */
.nav-link{

    color: white !important;
    margin-left: 15px;
    transition: 0.3s;
    position:relative;
    font-size:1.05rem;
    font-weight:500;
    margin-left:20px;

    transition:

    color .3s,

    transform .3s;

}

.nav-link::after{

    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:3px;
    background:#ffffff;
    border-radius:20px;
    transition:.3s;
}

/* Efeito ao passar o mouse */
.nav-link:hover{

    transform:translateY(-2px);
    color: #FFD166 !important;

}

/* Página atual */
.nav-link.active{

    font-weight: bold;
    color: #FFD166 !important;
    background:rgba(255,255,255,.18);
    border-radius:30px;
    padding:8px 18px;

}

/* Botão do menu no celular */
.navbar-toggler{

    border:2px solid rgba(255,255,255,.4);

    border-radius:10px;


}

/* Remove a sombra azul ao clicar */
.navbar-toggler:focus{

    box-shadow: none;

}
