/* ================================================= */
/*              CONFIGURAÇÕES GERAIS                 */
/* ================================================= */

/* Remove margens e espaçamentos padrões */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================================================= */
/*                    BODY                           */
/* ================================================= */

body{

    font-family: "Poppins",sans-serif;

    background-color: #f8f5f0;

    color: #333;

}

/* ================================================= */
/*                 TÍTULOS                           */
/* ================================================= */

h1,
h2,
h3,
h4,
h5{

    color: #5A3E2B;

    font-weight: bold;

}

p{

    line-height: 1.7;

}

/* ================================================= */
/*                LINKS                              */
/* ================================================= */

a{

    text-decoration: none;

}

/* ================================================= */
/*             IMAGENS                               */
/* ================================================= */

img{

    max-width: 100%;

    display: block;

}

/* ================================================= */
/*             BOTÕES                                */
/* ================================================= */

.btn{

    border-radius: 8px;

    transition: 0.3s;

}

/* ================================================= */
/*              CARDS                                */
/* ================================================= */

.card{

    border: none;
    border-radius: 18px;
    overflow:hidden;
    transition:.35s;

}

.card:hover{

    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.18);

}

.card:hover img{

    transform:scale(1.06);
    
}

