/* ==========================================
                RODAPÉ
========================================== */

.cor-rodape{

    background-color: #5A3E2B;
    color: white;
    margin-top: 60px;

}

.cor-rodape .container{

    padding-top: 40px;
    padding-bottom: 20px;

}

.cor-rodape h4{

    color: white;
    font-weight: bold;
    margin-bottom: 20px;

}

.cor-rodape p{

    color: #f5f5f5;
    line-height: 1.7;

}

.cor-rodape ul{

    list-style: none;
    padding-left: 0;

}

.cor-rodape li{

    margin-bottom: 10px;

}

.cor-rodape a{

    color: white;
    text-decoration: none;
    transition: 0.3s;

}

.cor-rodape a:hover{

    color: #FFD166;

}

.cor-rodape hr{

    border-color: rgba(255,255,255,.3);
    margin: 25px 0;

}

.cor-rodape .text-center{

    font-size: .9rem;

}