/* ================================================= */
/*             RODAPÉ                                */
/* ================================================= */

.cor-rodape{

    background-color: #6F4E37;

    color: white;

}

.cor-rodape h4{

    color: white;

}

.cor-rodape p{

    color: white;

}

.cor-rodape a{

    color: white;

}

.cor-rodape a:hover{

    color: #FFD166;

}

/* ================================================= */
/*          ESPAÇAMENTO DAS SEÇÕES                   */
/* ================================================= */

section{

    padding-top: 20px;

    padding-bottom: 20px;

}