    body {
        font-family: Arial, sans-serif;
        color:blue;
    }

    h1 {
        color:rgb(102, 64, 7)
    }

    .destaque {
        color:brown
    }

    #topo {
        background-color: darkgrey;
    }

    p {
        color:black;
    }
