/* ==========================================
            PÁGINA ENCOMENDA
========================================== */

h1{

    color:#5A3E2B;
    font-weight:bold;

}

.text-success{

    color:#B67C38 !important;

}

.card{

    border:none;
    border-radius:12px;
    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

}

.card img{

    height:250px;
    object-fit:cover;

}

.form-control{

    border-radius:8px;

}

textarea{

    resize:none;

}

.btn-warning{

    background:#B67C38;
    border:none;

}

.btn-warning:hover{

    background:#8F5F27;

}

ul{

    padding-left:20px;

}

section{

    margin-top:50px;
    margin-bottom:50px;

}