/* =======================================================
                    HOME - PÁGINA INICIAL
======================================================= */

/* ==========================
        APRESENTAÇÃO
========================== */

.titulo-principal{

    color: #5A3E2B;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;

}

.texto-principal{

    color: #555;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;

}

/* ==========================
        BOTÕES
========================== */

.btn-warning{

    background-color: #B67C38;
    border: none;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    transition: .3s;

}

.btn-warning:hover{

    background-color: #8F5F27;

}

.btn-outline-dark{

    border-radius: 10px;
    padding: 12px 30px;
}

/* ==========================
       CARDS GERAIS
========================== */

.card{

    border: none;
    border-radius: 12px;
    transition: .3s;
    overflow: hidden;

}

.card:hover{

    transform: translateY(-8px);

}

.card-body{

    padding: 25px;

}

/* ==========================
     IMAGENS DOS CARDS
========================== */

.card img{

    height: 220px;
    object-fit: cover;

}

/* ==========================
        TÍTULOS
========================== */

section h2{

    color: #5A3E2B;
    font-weight: bold;
    margin-bottom: 15px;

}

.card-title{

    color: #5A3E2B;
    font-weight: bold;

}

/* ==========================
       BADGES
========================== */

.badge{

    background-color: #6F4E37 !important;
    padding: 8px 12px;
    font-size: .8rem;

}

/* ==========================
       PREÇOS
========================== */

.text-success{

    color: #B67C38 !important;
    font-size: 1.2rem;

}

/* ==========================
      IMAGEM PRINCIPAL
========================== */

.img-fluid{

    border-radius: 15px;

}

/* ==========================
      DESTAQUES
========================== */

.display-4{

    font-size: 3rem;

}

/* ==========================
      SEÇÕES
========================== */

section{

    margin-top: 70px;
    margin-bottom: 70px;

}

/* ==========================================
                RODAPÉ
========================================== */

.cor-rodape{

    background-color:#5A3E2B;
    color:white;

}

.cor-rodape h4{

    color:white;
    font-weight:bold;

}

.cor-rodape p{

    color:#f1f1f1;

}

.cor-rodape a{

    color:white;
    text-decoration:none;
    transition:.3s;

}

.cor-rodape a:hover{

    color:#FFD166;

}

.cor-rodape hr{

    border-color:rgba(255,255,255,.3);

}

.cor-rodape .text-center{

    font-size:.9rem;

}